body {
    background-color: rgb(255, 0, 0);
    color: rgb(228, 224, 224);
    font-size: 50%;
    display: flex;
    justify-content: space-around;
    border: 3px solid rgb(255, 0, 255);

}
* {
    
    background-color: blue;
    border: 3px solid rgb(255, 0, 255);
}
*:hover {
    
    animation: spin 10s ease-in-out infinite forwards, pain 1s infinite linear forwards;
}
a {
    font-size: 300%;
    border: 2px solid red;
    color: yellow;
}
a:hover {
    animation: spin 10s ease-in-out 0s infinite forwards;
    border: 2px solid orange;
    color:blueviolet;
}
h2 {
    color: rgb(170, 255, 0);
}
p {
    color: rgb(255, 0, 200);
}
.overlay {
    
    border: 5px solid red;
    transition: opacity 0.25s;
    animation: syndrome 0.25s infinite ;
    position: fixed;
    width: 50%;
    height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  bottom: 0;
  z-index: 0;
  cursor: pointer;
  display: initial;
}
.overlay:hover {
    animation: spin 10s ease-in-out 0s infinite forwards;
    transition: opacity 0.5s ease-in-out;
    opacity: 0.0;

}
@keyframes syndrome {
    0% {
        filter:invert(100%) hue-rotate(180deg) saturate(200%);
    }
    50% {
       filter:invert(0%) hue-rotate(0deg) saturate(100%);
    }
        100% {
         filter:invert(100%) hue-rotate(180deg) saturate(200%);

    }
}
@keyframes pain {
    0% {
        filter:invert(100%);
       
    }
    50% {
        filter:invert(0%);
        
    }
    100% {
        filter:invert(100%);
        
    }
}
@keyframes spin {
    0% {
         transform: rotate3d(1, 1, 1, 0deg);
    }
    50% {
            transform: rotate3d(1, 1, 1, 360deg);
    }
    100% {
         transform: rotate3d(1, 1, 1, 0deg);
}
}
.hell {
    display: block;
    width: 12.5%;
    height: 12.5%;

    animation: syndrome 0.9s infinite ease-in-out;
}
.hell button {
    padding: 20px 20px;
        background-color: greenyellow;
    color: black;
}
.hell:hover {
    animation: spin 10s ease-in-out 0s infinite forwards;
}